@use 'variables';

.document {
    border: 1px solid variables.grey(75);
    box-shadow: 3px 3px 0 variables.grey(95);
    margin: 0 0 2rem 0;
    main {
        padding: 0.75rem 0.5rem;
        h1, h2, h3, h4, h5, p {
            margin-top: 0;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        h1 {
          font-size: 1.802rem;
        }

        h2 {font-size: 1.602rem;}

        h3 {font-size: 1.424rem;}

        h4 {font-size: 1.266rem;}

        h5 {font-size: 1.125rem;}
    }
    header {
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        justify-content: center;
        padding: 0.5rem;
        font-weight: 700;
        &.document__header--previous-version {
            background: #5d6597;
            color: white;
        }
    }
    footer {
        height: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: variables.grey(90);
        color: variables.grey(20);
        font-size: 0.8rem;
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: .25rem;
        margin-top: .5rem;
    }

    &__meta {
        padding: 0 .5rem;
        margin-right: auto;
    }

    &__controls {
        height: 100%;
    }

    &__button {
        height: 100%;
        background: variables.grey(85);
        border: none;
        padding: 0;
        width: 2rem;
        cursor: pointer;
        transition: .15s;
        &:hover {
            color: white;
            background: variables.$blue;
        }
    }

    &__options {
        padding: 0.5rem;
        border: 1px solid variables.grey(75);
        box-shadow: 3px 3px 0 variables.grey(95);
    }

    &__comments {
        > .document__comment {
            margin-left: 0;
            border: 1px solid variables.grey(75);
            box-shadow: 3px 3px 0 variables.grey(95);
            margin-bottom: 1rem;
        }
    }
    &__comment {
        font-size: 0.9rem;
        margin-left: 1rem;
        padding: 0.75rem 0.5rem;
        &__meta {
            color: variables.grey(40);
            a {
                font-weight: 700;
            }
            margin-bottom: .5rem;
        }
        &__controls {
            margin-top: .5rem;
            font-size: .8rem;
            button {
            }
        }
        &__editor {
            margin: .5rem 0 .5rem 1.5rem;
            &--root {
                margin: 0 0 1rem 0;
                textarea {
                    padding: .5em !important;
                }
            }
            textarea {
                width: 100%;
                border: 1px solid variables.grey(75);
                padding: .25rem;
                margin-bottom: .5rem;
            }
        }
        &__button {
            background: white;
            color: variables.grey(40);
            border: none;
            padding: 0;
            cursor: pointer;
            transition: .15s;
            &:hover {
                color: variables.$blue;
            }
        }
        > *:last-child {
            padding-bottom: 0;
        }
    }
}

.document-editor {
    border: 1px solid variables.grey(75);
    box-shadow: 3px 3px 0 variables.grey(95);
    padding: 1rem;
    margin: 0 0 2rem 0;
    textarea {
        width: 100%;
        min-height: 500px;
        padding: 1rem;
        border: 1px solid variables.grey(75);
    }
    &__controls {
        display: flex;
        margin-top: 1rem;
        justify-content: end;
        gap: 1rem;
    }
}



a.gh-tag {
    font-size: 0.8rem;
    background: variables.$blue;
    color: variables.grey(90);
    padding: .25rem .5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
        background: lighten(variables.$blue, 10%);
    }
}
